* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
}

section, ul {
    width: 50%;
}

img, h3, p {
    margin: 0;
}

section#pokemon-show {
    border-radius: 12%;
    height: min-content;
    width: fit-content;
    text-align: center;
}