* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
}

section, ul {
    width: 50%;
}

/* section#pokemon-show {
    border-radius: 12%;
    background-color: aquamarine;
} */